path/to/your/large-file filter=lfs diff=lfs merge=lfs -text
C:/Users/Devasri/PycharmProjects/sample/crowd_counting filter=lfs diff=lfs merge=lfs -text
yolov3.weights filter=lfs diff=lfs merge=lfs -text
